.single {
    padding-bottom: 40px;
}
.img-box {
    float: left;
    margin: 0 41px 30px 0;
}
.box-img {
    margin-bottom: 46px;
}
a.web-in {
    font-size: 11px;
    line-height: 18px;
    font-family: "Myriad Pro";
    text-decoration: none;
    color: #000;
}
.date-col p span {
    font-size: 12px;
    line-height: 20px;
}
.blog-text  {
    font-size: 12px;
    line-height: 18px;
    font-family: 'HelveticaNeue';
}
.post-box {
    border:1px solid #cecece;
    margin-right: 17px;
    padding: 0;
    width: 220px;
    height: 244px;
    background: #fff;
    float: left;
}
.post-box:last-child {
    margin-right: 0;
}
.post-box h2 {
    font-size: 18px;
    line-height: 18px;
    font-family: "HelveticaNeue";
    padding: 15px 0 0 13px;
    margin: 0;
}
.post-box span {
    font-size: 11px;
    line-height: 11px;
    font-family: "HelveticaNeue";
    color: #8a8a8a;
    padding-left: 13px;
}
.post-box img {
    margin: 0;
}