.wrapper{
	width: 940px;
	margin: 0 auto;
}
.logo {
	font-size:36px;
	font-family: 'Chunkfive';
	float:left;
	color:#000;
	margin:24px 0 0 0;
	text-decoration: none;
}
.logo:after{
	color:#f03c3c;
	content: ".";
}
.search{
	margin-top: 30px;
	float:right;
}
.search-box{
	position: relative;

}
.icon{
	width: 40px;
	height: 33px;
	background:none;
	border:none;
	color: #cecece;
	font-size: 12px;
	position: absolute;
	right: 0%;
	top: 50%;
}
#search{
	width: 200px;
	height: 31px;
	background-color: #fff;
	font-family:'HelveticaNeue Regular';
	font-size: 12px;
	font-style: #d5d5d5;
	float: left;
	border-style: solid;
	border-color: #ececec;
	border-width: 1px;
	padding-left: 8px;
	box-sizing: border-box;
}
.nav{
	width: 940px;
	border-top: 1px solid;
	border-color: #ececec;
	margin: 28px 0 30px 0;
	list-style-type: none;
	float: left;
}
li  {
	margin-top: -1px;
	display: inline-block;
	float: left;
	padding-top: 18px;

}
li a{
	font-family: 'HelveticaNeue Medium';
	font-size: 14px;
	color: #2b2b2b;
	text-decoration: none;
	padding: 22px 20px 10px;
	border-top: 1px solid;
	border-color: transparent;

}
li:after{
	content: "|";
	color: #ececec;
	font-size: 18px;
}
li a:hover{
	font-weight: bold;
	color: #f03c3c;
	border-color: #f03c3c;
}
.active{
	font-weight: bold;
	color: #f03c3c;
	border-color: #f03c3c;
}