.wrapper {
    width: 940px;
    margin:0 auto;
}
img {
    margin-top: 15px;
}
h1 {
    text-align: center;
    margin-bottom: 47px;
    font-size: 30px;
    font-family: 'Chunkfive';
}
#map-canvas {
    width: 940px;
    height: 400px;
    margin:29px 0 35px 0;
}
input[type="text"] {
    width: 219px;
    height: 35px;
    background-color: #fafafa;
    color: #d5d5d5;
    border:1px solid #ccc;
    padding:13px 0 11px 14px;
    margin-bottom: 10px;
}
textarea {
    width: 493px;
    height: 205px;
    background-color: #fafafa;
    color: #d5d5d5;
    border:1px solid #ccc;
    padding:15px 0 0 14px;
}
input[type="submit"] {
    border: none;
    background-color: #fff;
    font-size: 14px;
    font-weight: bold;
    margin-top: 15px;
}
.submite {
    margin-top: 15px;
    margin-right: 10px;
    font-size: 30px;
    margin-bottom: 47px;
}
















